
/*
primary(Headers): #4db6ac
Dark Grey:#606060
Light Grey:#8c8a8c
Lighter Grey:#ebebeb
Green:#4db6ac
Text Green:#4db6ac
Dark Pink for Header:#f48fb1
Background Pink:#fce4ec
Text Pink:#fce4ec

*/

/*  Typography and basic styles
    ******************************************************/

    html {
        /* apply a natural box layout model to all elements, but allowing components to change */
        box-sizing: border-box;

    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    /*whole page will inherit this setting*/
body{
    margin: 0;
    font-family: 'Andada', sans-serif;
    color:#8c8a8c;
}

section{
    padding-top:1px;
    padding-bottom:1px;

}

/*  Header and navigation
    ******************************************************/

    header{
        display:flex;
        justify-content: space-between;
        background-color: #ebebeb;

        }

        .logo-link {
            display: flex;
            align-items: center;
            margin-right: 1rem;
            margin-left: 1rem;
            margin: 0 1rem;
        }

        .logo-link img {
            height: 24px;
        }


.section,
footer {
    padding: 3vw 6vw;

}

footer{
    text-align: center;
    font-size: 10px;
    color:#4db6ac;

}
/*background main*/
.section-main {
    background-color:#ffffff;

}

.jumbotron {
    padding-top: 8vw;
    padding-right: 1rem;
    padding-bottom: 16vw;
    padding-left: 1rem;
    background-image: url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;

    font-size: 20px;
}

/*background navigation*/
nav{
    background-color: #8c8a8c;
    list-style: none;
}

/*unordered list*/
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin: 0;
}
/*list items*/
nav li{

    flex:1;
}
/*navigation link*/
nav a{
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    color:#ebebeb;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap; /* prevent text wrap in links (about me link)*/
}
/*navigation mouse display */
nav a:hover,
nav a:focus{
    color:#ebebeb;
    background-color:#4db6ac;
}

/*background promo*/
.section-darkgrey {
    background-color:#606060;
    color:#4db6ac;
}
/*promo text*/
    .section-promo {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .section-promo article {

        width: 100%;
        padding: 0 2.5rem;
    }

    .section-promo article p{
        color:#edb2d6;
    }

    @media only screen and (min-width: 500px) {

        .section-promo article {
            width: 50%;
        }
    }

    @media only screen and (min-width: 900px) {

        .section-promo article {
            width: 25%;
        }
    }
    /* Only display content to screen readers
    Taken from Bootstrap 4: https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_screen-reader.scss
    See: http://a11yproject.com/posts/how-to-hide-content/
    See: https://hugogiraudel.com/2016/10/13/css-hide-and-seek/
    */


   .sr-only {

        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        clip-path: inset(50%);
        border: 0;
      }

    /*myskills*/
.section-skills{
    background-color:#fce4ec;
    color:#4db6ac;
    font-family: 'Andada';
}


/*my portfolio text*/
.section-portfolio{
    text-align: center;
background-color: #ebebeb;
    font-family: 'Andada';

}
.section-portfolio h2{
    color:#4db6ac;
    }

.section-portfolio h3{
        color:#606060;
        }

.section-portfolio p{
color:#8c8a8c;
}

.about{
padding :40px 100px 30px 90px;
margin-left:-75px;
margin-right :-78px;
margin-top:-40px;
    display: flex;
    flex-wrap:wrap;
    background-color:#fce4ec;
    font-family: 'Andada';
    color:#4db6ac;
text-align: center;

}

/*photo background*/
.about-image {
    flex: 1 1 300px;
    margin-right: 2rem;
    text-align: center;
}

/*photo setting*/
.about-image img{
border-radius:20%;
    max-width: 100%;

}

.about-text {
    text-align: center;
    flex: 1 0 300px; /* image width */
    max-width: 100%;
    padding: 0 2rem;
    color:#8c8a8c;
}

.about-text button{
    color:#4db6ac;
    font-size: 1rem;
}

.findme{
    text-align:center;
    background-color:#fff;
    color:#4db6ac;
    font-family:"Andada";
    margin-top:50px;
    margin-bottom:50px;
}

.findme a{
    text-align: center;
    size: 50px;
}

.section-contactme{
    background-color: #fce4ec;
    color:#4db6ac;
}



/*  Utilities
    ******************************************************/

    .accessible-hidden {
        position: absolute;
        top: 0;
        left: -999px;
        height: 1px;
        width: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        white-space: nowrap;
    }

    .accessible-hidden:focus {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        padding: 10px;
        width: auto;
        height: auto;
        clip: auto;
    }

/*form for contact me*/
