body{
    text-align: center;
    font-size: 1.125rem;
    background-color: #444444;
}
a{
    color:white;
}


h1{
font-size:3rem;
font-family:'Trebuchet MS', sans-serif;
color:white;
}

h2{
font-size:1.5rem;
background-color:white;
width:100vw;
}

p{
    color:white;
}

ol{
    color:white;
    text-align: center;
    display:inline-block;
}

/*
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:15%;
*/

button {
    cursor:pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 14px;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    border: 1px solid white;
    background-color: aliceblue;
    }